Host github.com
    HostName github.com
    User git
    IdentityAgent /run/ptw-git-agent/agent.sock
    IdentitiesOnly no
    StrictHostKeyChecking yes
    UserKnownHostsFile /etc/ptw-git/known_hosts
    PasswordAuthentication no
    KbdInteractiveAuthentication no

Host *
    IdentityAgent none
    IdentitiesOnly yes
    PasswordAuthentication no
    KbdInteractiveAuthentication no
